
export YSYX_HOME=/home/zz/workplace-local/msuad-ysyx-workbench
export NEMU_HOME=${YSYX_HOME}/nemu
export AM_HOME=${YSYX_HOME}/abstract-machine
export NPC_HOME=${YSYX_HOME}/npc-5stage
# export NPC_HOME=${YSYX_HOME}/npc-sim
export NPC_IMPL_HOME=${YSYX_HOME}/npc-impl-single
export YSYXSOC_HOME=${YSYX_HOME}/ysyxSoC
export NAVY_HOME=${YSYX_HOME}/navy-apps

# export CPPFLAGS="-I/home/linuxbrew/.linuxbrew/opt/openjdk@17/include"
# export JAVA_HOME=/home/linuxbrew/.linuxbrew/opt/openjdk@17
export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64/
export JRE_HOME=${JAVA_HOME}/jre
export CLASSPATH=.:${JAVA_HOME}/lib:${JRE_HOME}/lib
export PATH=${JAVA_HOME}/bin:$PATH

export PATH=/opt/oss-cad-suite/bin:$PATH

export RISCV="/opt/riscv/riscv-multilib"
export PATH=$PATH:$RISCV/bin 
